@import 'td/code-dark';

/* Custom styles for the navbar */
.td-navbar {
  background-color: $primary  !important; /* Set background color to black */
  opacity: 1; /* Ensure the navbar is fully opaque */
}

.td-navbar .navbar-brand {
  svg {
    height: 3rem;
    margin-left: 5rem;
  }
}

.td-home {
  .cncf {
    text-align: center;

    p {
      font-size: 1.2rem;
      margin-bottom: 0;
    }

    img {
      width: 20rem;
      padding-top: 1rem;
      max-width: 80%;
    }

    a.external-link:after {
      display: none;
    }
  }
}
