{{ $page := .Page -}}
{{ with .Site.Params.copyright -}}
  {{ $fromYear := "" -}}
  {{ $toYear := "" -}}
  {{ $authors := "" -}}
  {{ if reflect.IsMap . -}}
    {{ $fromYear = .from_year -}}
    {{ $toYear = .to_year -}}
    {{ $authors = .authors -}}
  {{ else -}}
    {{ $authors = . -}}
  {{ end -}}

  <div class="td-footer__documentation">
    &copy; 2020-2023 in-toto Authors | Documentation Distributed under CC-BY-4.0
  </div>

  <div class="td-footer__linux-foundation">
    &copy; 2023 The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation, please see our <a href="https://www.linuxfoundation.org/trademark-usage/">Trademark Usage page</a>.
  </div>
  <br/>
  <div class="td-footer__research-support">
    This research was supported by the US National Science Foundation (NSF), the Defense Advanced Research Projects Agency (DARPA) and the Air Force Research Laboratory (AFRL). Any opinions, findings, and conclusions or recommendations expressed in this material are those of the authors and do not necessarily reflect the views of NSF, DARPA and AFRL. The United States Government is authorized to reproduce and distribute reprints notwithstanding any copyright notice herein.
  </div>

  {{- with T "footer_all_rights_reserved" -}}
    <span class="td-footer__all_rights_reserved">
      {{- . -}}
    </span>
  {{- end }}

{{- else -}}

  {{ with .Site.Copyright -}}
    {{/* For historical reasons we process this as HTML rather than markdown. */ -}}
    <span class="td-footer__copyright">
      {{- . | safeHTML -}}
    </span>
  {{- end -}}

{{ end -}}
