{{ $specs := site.Data.specs }}
<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Status
      </th>
      <th>
        Version
      </th>
      <th>
        Description
      </th>
    </tr>
  </thead>
  <tbody>
    {{ range $specs }}
    <tr>
      <td>
        {{ .name }}
      </td>
      <td>
        {{ .status }}
      </td>
      <td>
        <a href="{{ .url }}" target="_blank">
          {{ .version }}
        </a>
      </td>
      <td>
        {{ .description | markdownify }}
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>
